body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/800px-Transgender_Pride_flag.svg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

#image-container {
    text-align: center;
}

.spin-blahaj {
    cursor: pointer;
    transition: transform 1s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.explosion-gif {
    width: 650px;
    height: 650px;
    object-fit: cover;
}